body {
  background-color: white;
}

* {
  margin: 0px;
  padding: 0px;
}

.nav-bar {
  background-color: #032f3e;
  width: 100%;
}
.nav-bar ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nav-bar ul li {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  margin: 7px;
}
.nav-bar ul li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
.nav-bar ul li a:hover {
  background: #054960;
}

.lead-banner {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.lead-banner img {
  width: 100%;
  height: 550px;
}
.lead-banner .title {
  color: white;
  position: absolute;
  top: 100px;
  left: 550px;
  margin: 20px;
  font-size: 80px;
}
.lead-banner .sub-title {
  color: white;
  position: absolute;
  top: 235px;
  left: 800px;
  font-size: 40px;
}

.services {
  text-align: center;
  color: #032f3e;
  margin: 2% 0px;
}
.services ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.services ul li {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}
.services ul li img {
  width: 60%;
  margin: 10px 20%;
}
.services ul li a {
  text-decoration: none;
  color: #032f3e;
}
.services ul li a:hover {
  color: red;
}

.banner {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.banner img {
  width: 100%;
  height: 600px;
}
.banner h1 {
  position: relative;
  top: -500px;
  left: 50px;
  font-size: 54px;
  color: white;
}
.banner ul {
  list-style: none;
  width: 47%;
}
.banner ul li {
  position: relative;
  top: -450px;
  left: 40px;
  color: #e4e1e1;
  padding: 10px;
  margin: 10px;
  font-size: 24px;
}

.success {
  position: absolute;
  top: 1550px;
  text-align: center;
  margin-top: 2%;
}
.success h1 {
  color: #032f3e;
}
.success ul {
  margin: 20px 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 101.2%;
}
.success ul li {
  width: 25%;
  margin: 2% 0px;
}